<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.Raw("<a class='navbar-brand' href='" + Url.Action("Index", "Home") + "'><img src='" + Url.Content("~/Content/Images/index icon.png") + "' alt='Book Icon' style='height:28px; width:28px;' /> BOOK HEAVEN</a>")
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    <li>@Html.ActionLink("My Account", "UserAccount", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    <li>@Html.ActionLink("Wishlist", "UserWishlist", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Return Book", "ReturnBook", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Logout", "Account")">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>Privacy Policy</h5>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Policy", "Home")">Our Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>Help Center</h5>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Contact", "Home")">Report a Problem</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>About Us</h5>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("About", "Home")">Learn More</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>Terms of Use</h5>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Terms", "Home")">Our Terms</a></li>
                        </ul>
                    </div>
                </div>
                <p class="text-center">© Copyright  @DateTime.Now.Year - Book Heaven Online Library. All rights reserved.</p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>



</body>
</html>