@model IEnumerable<LibraryManagement.Models.author>

@{
    ViewBag.Title = "Admin - Manage Authors";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Manage Authors</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                @* <th>ID</th>*@
                <th>Image</th>
                <th>Name</th>
                <th>About</th>
                <th>Books</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model)
            {
                <tr>
                    @*<td>@author.Id</td>*@
                    <td><img src="@author.Image" alt="@author.Name" style="width: 100px; height: auto;" /></td>
                    <td>@author.Name</td>
                    <td>@author.About</td>
                    <td>
                        <ul>
                            @foreach (var book in author.books)
                            {
                                <li>@book.Title</li>
                            }
                        </ul>
                    </td>
                    <td class="actions">
                        <div class="btn-group" role="group">
                            @Html.ActionLink("Edit", "EditAuthor", new { id = author.Id }, new { @class = "btn btn-primary" })
                            @using (Html.BeginForm("DeleteAuthor", "Admin", new { id = author.Id }, FormMethod.Post, new { onsubmit = "return confirm('Are you sure you want to delete this author?');" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Add New Author", "CreateAuthor", "Admin", null, new { @class = "btn btn-success" })
</div>

<style>
    .actions {
        text-align: center;
    }

    .btn-group {
        display: flex;
        justify-content: center;
        gap: 10px; /* Space between buttons */
    }

    .btn {
        width: 100px; /* Uniform button width */
    }
</style>
