@model LibraryManagement.Models.book

@{
    ViewBag.Title = "Delete Book";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete Book</h2>

<h3>Are you sure you want to delete this book?</h3>
<div>
    <h4>@Model.Title</h4>
    <p>Author: @Model.Author_Id</p>
    <p>Genre: @Model.Genre</p>
    <p>Language: @Model.Language</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.Id" />

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Cancel", "AdminBook")
    </div>
}
